doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
        meta(name="viewport", content="width=device-width")
        title Noom
        link(rel="stylesheet", href="https://unpkg.com/mvp.css")
    body
        header
            h1 It works!
        main
            form#nick
                input(type="text", placeholder="choose a nickname" required)
                button(type="submit") Save
            ul
            form#message
                input(type="text", placeholder="write a msg", required)
                button(type="submit") Send
        script(src="/public/js/app.js")